/*background-color, font-family, color, font-size and line-height for the <body>
*/
/*import*/

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Source+Sans+Pro:300,400,400i,700');

body {
  background-color: white;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: #484848;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville'
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #333333;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}

img {
  display: cover;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: #767676;
}

a:hover {
  text-decoration: underline #767676;
}

div {
  display: block;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 50px rgba(0,0,0,0.1);
  border-radius: 3px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.btn-blue {
  background-color: transparent ;
  border: solid 2px #333333;
  color: #333333;
  padding: 15px 20px;
  border-radius: 3px;
  font-weight: bold;
}

.btn-blue:hover {
  text-decoration: none;
}

#introduction p {
    margin-bottom: 40px;
}

#social h2{
  color: #454545;
  font-size: 16px;
  font-weight: 400;
}

/*Responsive*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


/*SVG animations*/

@-webkit-keyframes demonstration {
  0% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
  }
  25% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
  }
  30% {
    -webkit-filter: blur(20px) contrast(1);
            filter: blur(20px) contrast(1);
  }
  55% {
    -webkit-filter: blur(20px) contrast(1);
            filter: blur(20px) contrast(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80% {
    -webkit-filter: blur(20px) contrast(30);
            filter: blur(20px) contrast(30);
  }
  100% {
    -webkit-filter: blur(20px) contrast(30);
            filter: blur(20px) contrast(30);
  }
}
@keyframes demonstration {
  0% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
  }
  25% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
  }
  30% {
    -webkit-filter: blur(20px) contrast(1);
            filter: blur(20px) contrast(1);
  }
  55% {
    -webkit-filter: blur(20px) contrast(1);
            filter: blur(20px) contrast(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80% {
    -webkit-filter: blur(20px) contrast(30);
            filter: blur(20px) contrast(30);
  }
  100% {
    -webkit-filter: blur(20px) contrast(30);
            filter: blur(20px) contrast(30);
  }
}
.blobs {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  width: 100px;
  height: 50px;
  margin: 8px auto;
  -webkit-filter: blur(20px) contrast(30);
          filter: blur(20px) contrast(30);
  -webkit-animation: demonstration 10s linear infinite;
          animation: demonstration 10s linear infinite;
}

.blob {
  background: #E3A14D;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
/*  margin-top: -50px;
  margin-left: -50px;*/
  border-radius: 3px;
}

@-webkit-keyframes blob-anim-left {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@keyframes blob-anim-left {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}
.blob:first-child {
  -webkit-animation: blob-anim-left ease-in-out 0.8s infinite alternate;
          animation: blob-anim-left ease-in-out 0.8s infinite alternate;
}

@-webkit-keyframes blob-anim-right {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(55px);
            transform: translateX(55px);
  }
}

@keyframes blob-anim-right {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(55px);
            transform: translateX(55px);
  }
}
.blob:last-child {
  -webkit-animation: blob-anim-right ease-in-out 0.8s infinite alternate;
          animation: blob-anim-right ease-in-out 0.8s infinite alternate;
}



/*SVG animations 2*/

/*================================================
Start Important Part
==================================================*/

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

/*================================================
End Important Part
==================================================*/


/*
body {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*.size-slider {
  display: flex
  justify-content: center;
  text-align: center;
  bottom: 10px;
  left: 10%;
  width: 10%;
  margin-left: -25%;
  text-align: center;
}*/

.glowworm-loader {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 0;
  width: 2.8em;
  height: 1em;
  text-align: center;
}

.glowworm-motion {
  display: block;
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  animation-name: glowworm-motion;
  animation-timing-function: ease-in-out;
  animation-delay: -0.9s;
  animation-iteration-count: infinite;
  animation-duration: 1.8s;
}

.glowworm-container {
  display: block inline;
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  transform: scale(0.9);
  animation-name: glowworm-container;
  animation-timing-function: ease-in-out;
  color: #fa2c7e;
}

.glowworm-left,
.glowworm-right {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: currentColor;
}

.glowworm-left {
  right: 50%;
  border-radius: 0.5em 0 0 0.5em;
  transform-origin: 100% 50%;
  animation-name: glowworm-left;
  animation-timing-function: cubic-bezier(0.25, 0, 1, 0.75);
}

.glowworm-right {
  left: 50%;
  padding-left: 1px;
  margin-left: -1px;
  border-radius: 0 0.5em 0.5em 0;
  transform-origin: 0 50%;
  animation-name: glowworm-right;
  animation-timing-function: cubic-bezier(0.25, 0.5, 0.75, 1);
}

.glowworm-left::after {
  border-radius: 0.5em 0 0 0.5em;
  animation-name: glowworm-left-overlay;
  animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
}

.glowworm-right::after {
  border-radius: 0 0.5em 0.5em 0;
  animation-name: glowworm-right-overlay;
  animation-timing-function: cubic-bezier(0, 0.25, 1, 0.75);
}

.glowworm-left::after,
.glowworm-right::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.glowworm-container,
.glowworm-left,
.glowworm-right,
.glowworm-left::after,
.glowworm-right::after {
  animation-delay: -0.9s;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

.glowworm-loader::before, .glowworm-loader::after {
  display: block;
  position: absolute;
  top: 0;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  content: '';
  transform: scale(0.9);
  animation-name: glowworm-reset;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1.8s;
}
.glowworm-loader::before {
  left: 0;
  background-color: #ffc76f;
  animation-delay: -1.062s;
}
.glowworm-loader::after {
  right: 0;
  background-color: #54d2e0;
  animation-delay: -0.738s;
  animation-direction: reverse;
}

@keyframes glowworm-motion {
  0% {
    transform: translateX(-0.9em) scale(0);
  }
  9%,
  11% {
    transform: translateX(-0.9em) scale(1);
  }
  48%,
  51% {
    transform: translateX(0) scale(1);
  }
  89%,
  91% {
    transform: translateX(0.9em) scale(1);
  }
  100% {
    transform: translateX(0.9em) scale(0);
  }
}
@keyframes glowworm-container {
  0%,
  9%,
  11%,
  51%,
  91%,
  100% {
    transform: scale(0.9);
  }
  30%,
  71% {
    transform: scale(0.9, 0.85);
  }
  41%,
  80% {
    transform: scale(0.95);
  }
  0%,
  13% {
    color: #ffc76f;
  }
  46%,
  54% {
    color: #fa2c7e;
  }
  87%,
  100% {
    color: #54d2e0;
  }
}
@keyframes glowworm-left {
  0%,
  9%,
  11%,
  48%,
  51%,
  89%,
  91%,
  100% {
    transform: scale(1);
  }
  29%,
  70% {
    transform: scale(1.6, 1);
  }
}
@keyframes glowworm-right {
  0%,
  9%,
  11%,
  48%,
  51%,
  89%,
  91%,
  100% {
    transform: scale(1);
  }
  29%,
  70% {
    transform: scale(1.8, 1);
  }
}
@keyframes glowworm-left-overlay {
  0%,
  11%,
  48%,
  51%,
  89%,
  100% {
    opacity: 0;
  }
  29%,
  70% {
    opacity: 1;
  }
  0%,
  11%,
  48% {
    background-image: linear-gradient(to right, #ffc76f, rgba(255, 199, 111, 0));
  }
  51%,
  89% {
    background-image: linear-gradient(to right, #fa2c7e, rgba(250, 44, 126, 0));
  }
  91%,
  100% {
    background-image: linear-gradient(to right, #54d2e0, rgba(84, 210, 224, 0));
  }
}
@keyframes glowworm-right-overlay {
  0%,
  11%,
  48%,
  51%,
  89%,
  100% {
    opacity: 0;
  }
  29%,
  70% {
    opacity: 1;
  }
  0% {
    background-image: linear-gradient(to left, #ffc76f, rgba(255, 199, 111, 0));
  }
  11%,
  48% {
    background-image: linear-gradient(to left, #fa2c7e, rgba(250, 44, 126, 0));
  }
  51%,
  89%,
  91%,
  100% {
    background-image: linear-gradient(to left, #54d2e0, rgba(84, 210, 224, 0));
  }
}
@keyframes glowworm-reset {
  0%,
  18.0001%,
  100% {
    transform: scale(0);
  }
  18% {
    transform: scale(0.9);
  }
}
